@model DormitoryWeb.Models.booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.room_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.room_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.type_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.booking_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
